.keys_container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.keys {
    background-color: var(--yellow);
    color: var(--black);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
}

.keys:hover {
    transform: scale(1.1);
}


/* tablets e celulares */
@media screen and (max-width: 800px) {
    .keys_container {
        width: 80%;
        margin-bottom: 2rem;
        user-select: none;
    }

    .keys:hover {
        transform: none;
    }
}